body {
    background-color: whitesmoke;
}

.joke-list {
    border: 1px solid purple;
    width: 700px;
}

.joke-item {
    border: 1px solid blue;
    color: darkslategrey;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}